fastapi==0.109.2
uvicorn==0.27.1
sqlalchemy==2.0.27
psycopg2-binary==2.9.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
pydantic[email]==2.6.1
alembic==1.13.1
python-dotenv==1.0.1
google-cloud-vision
beautifulsoup4
requests==2.31.0
tqdm
diskcache
requests-oauthlib
stripe==9.7.0
pandas==2.0.3
PyJWT==2.8.0
google-cloud-storage==2.15.0
google-auth>=2.26.1
google-auth-oauthlib==1.1.0
authlib==1.2.1
httpx==0.25.2 